body{
    margin : 0px;
    padding : 0px;
}
.big_title{
    position : relative;
    text-align : center;
    left : 50%;
    width : 200px;
    margin-left : -100px;
}
.big_contents{
    position : relative;
    top : 30px;
    left : 50%;
    width : 800px;
    margin-left : -400px;
}
.title{
    position : absolute;
    border-top : 1px solid black;
    width : 100%;
}
.contents{
    position : absolute;
    top : 30px;
    width : 100%;
    border-top : 1px solid black;
    border-bottom : 1px solid black;
}
.footer{
    position : absolute;
    width : 140px;
    top : 560px;
    left: 50%;
    margin-left : -70px;
}
.title>div, .contents>div{
    display : inline-block;
    padding : 3px 0 3px 0;
    width : 100%;
}
.title>div:first-child, .contents>div:first-child{
    width : 100px;
    text-align : center;
}
.title>div:nth-child(2), .contents>div:nth-child(2){
    width : 600px;
}
.title input[type=text] {
    width : 602px;
}
.contents textarea {
    width : 600px;
    height : 500px;
}
.contents>div:first-child{
    position : relative;
    bottom : 250px;
}